<div class="container mt-3 mb-3">
  <h1>Welcome {{user.firstName}}</h1>
  <h2>Your Stories</h2>            
  <table class="table table-dark table-striped mt-5">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
     {{#each stories}}
      <tr>
        <td>{{title}}</td>
        <td>{{formatDate date 'MMM Do YYYY'}}</td>
        <td>{{status}}</td>
        <td><a href="/stories/edit/{{id}}" class="btn btn-primary" style="width:90px !important;">Edit</a></td>
        <td>
          <form action="/stories/{{id}}?_method=DELETE" method="post">
            <input type="hidden" name="_method"  value="DELECTE">
            <button class="btn btn-danger" style="width:90px !important;">
              Delete
            </button>
          </form>
        </td>
      </tr>
     {{/each}}
    </tbody>
  </table>
</div>
